header{
    width: 100vw;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    height: 10vh;
    padding-top: 0.5rem;
    object-fit: cover;
  }

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button{
    background: none;
    border-style: none;
    width: 0.5rem;
    margin: 1rem;
    color: whitesmoke;
    cursor: pointer;
}

nav img{
    background: none;
    border-style: none;
    width: auto;
    height: 33px;
    margin-bottom: 8px;
    color: whitesmoke;
    cursor: pointer;
}

/* ------------ MEDIA QUERIES ---------- */

@media screen and (max-width:
320px){
    header > img {
        height: 8vh;
    }};

    @media screen and (max-width:
    414px){
        header > img {
            height: 6vh;
        }};

        @media screen and (max-width:
    428px){
        header > img {
            height: 7vh;
        }};



 




/* header > .hamburger{
    border: none;
    background: transparent;
    color: whitesmoke;
    display: none;
}

@media screen and (max-width:
730px){
    header > nav{
        display: none;
    }
    header .hamburger{
        display: inline;
    }
} */