* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
}

:root {
  background-image: url(https://res.cloudinary.com/dpkqzc5zh/image/upload/v1683621332/hub%20games/Disen%CC%83o_sin_ti%CC%81tulo_sg4l1q.png);
}

main{
  min-height: 80vh;
}  

